<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<style>

.clicked{
  padding-left: 30px
}

</style>
<script>
function myFunction1() {
var text1= $('#text1').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {text1:text1}
          }).done(function(response) {
            var html= "<br><br><br><p> <b> RESULT : <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").html(html);
            });
};

function myFunction2() {
//var text1= $('#text1').val();
  $.ajax({
              url: "/results",
              type: "POST"
          }).done(function(response) {
            var html= "<br><br><br><p> <b> RESULT : <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").html(html);
            });
};
  </script>
<body>

  <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Hindi POS Tagger</span>
</nav>
    <br />
    <br />
            <label for="text1">Enter sample text</label>
            <textarea class="form-control" id="text1" rows="3"></textarea>
            <br/><br/>
            <div class="text-center">
              <button id="clicked1" onclick="myFunction1()" class="btn btn-primary btn-responsive btn-block">Submit</button>
            </div>
            <br/>

            <div class="text-center">
              <button id="clicked2" onclick="myFunction2()" class="btn btn-primary btn-block">Results</button>
            </div>

    <div class="text-center">
      <div class="show-data" >
      </div>
    </div>
</body>
</html>
